mchs.ble/DAL.WCF/Service References/ServiceReference/DAL.SQL.DataObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Init.DbCore" />
  <xs:complexType name="Equipment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Init.DbCore" base="q1:DbObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="LastMovementId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TagId" type="xs:int" />
          <xs:element minOccurs="0" name="kEquipmentId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="Group">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Init.DbCore" base="q2:DbObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="Movement">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Init.DbCore" base="q3:DbObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateOfMovement" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EquipmentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="IsArrived" type="xs:boolean" />
          <xs:element minOccurs="0" name="UnitId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Movement" nillable="true" type="tns:Movement" />
  <xs:complexType name="kEquipment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Init.DbCore" base="q4:DbObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupId" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="IsUniq" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="kEquipment" nillable="true" type="tns:kEquipment" />
  <xs:complexType name="ArrayOfkEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kEquipment" nillable="true" type="tns:kEquipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkEquipment" nillable="true" type="tns:ArrayOfkEquipment" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="ArrayOfEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipment" nillable="true" type="tns:Equipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipment" nillable="true" type="tns:ArrayOfEquipment" />
  <xs:complexType name="ArrayOfMovement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movement" nillable="true" type="tns:Movement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovement" nillable="true" type="tns:ArrayOfMovement" />
</xs:schema>