mchs.ble/DAL.WCF/Service References/ServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q1:EquipmentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q2:EquipmentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q3:EquipmentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetGroupListResult" nillable="true" type="q4:ArrayOfEquipmentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q5:KEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q6:KEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditKEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q7:KEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKEquipmentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKEquipmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetKEquipmentListResult" nillable="true" type="q8:ArrayOfKEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q9:Equipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q10:Equipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q11:Equipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetEquipmentListResult" nillable="true" type="q12:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q13:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q14:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q15:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetMovementListResult" nillable="true" type="q16:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByEquipmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByEquipmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetMovementListByEquipmentIdResult" nillable="true" type="q17:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByTimeAndUnitId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="maxTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="unitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByTimeAndUnitIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetMovementListByTimeAndUnitIdResult" nillable="true" type="q18:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetMovementResult" nillable="true" type="q19:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q20:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q21:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q22:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetUnitListResult" nillable="true" type="q23:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q24:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q25:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q26:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetSettingsResult" nillable="true" type="q27:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q28:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q29:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q30:Division" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDivisionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDivisionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetDivisionListResult" nillable="true" type="q31:ArrayOfDivision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q32:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q33:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="item" nillable="true" type="q34:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" minOccurs="0" name="GetUserListResult" nillable="true" type="q35:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>