mchs.ble/DAL.WCF/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceOperation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpServiceOperatorEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.Enums" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Dal.Sql.DataObjects" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Init.DbCore" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOperation_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGroup" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupList" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddKEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddKEquipment" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddKEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddKEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditKEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:EditKEquipment" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditKEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditKEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteKEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKEquipment" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteKEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetKEquipmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKEquipmentList" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetKEquipmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKEquipmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEquipment" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEquipment" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEquipment" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetEquipmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentList" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetEquipmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquipmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovement" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovementResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMovement" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMovementResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovement" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovementResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetMovementList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovementList" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetMovementList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovementListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetMovementListByEquipmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovementListByEquipmentId" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetMovementListByEquipmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovementListByEquipmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetMovementListByTimeAndUnitId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovementListByTimeAndUnitId" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetMovementListByTimeAndUnitId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovementListByTimeAndUnitIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetMovement_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovement" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetMovement_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovementResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUnit" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUnit" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUnit" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetUnitList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitList" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetUnitList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSettings" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSettings" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSettings" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSettings" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddDivision_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDivision" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddDivision_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDivisionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditDivision_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDivision" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditDivision_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDivisionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteDivision_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDivision" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteDivision_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDivisionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetDivisionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDivisionList" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetDivisionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDivisionListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IServiceOperation_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOperation">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/TestConnection" message="tns:IServiceOperation_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/TestConnectionResponse" message="tns:IServiceOperation_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/AddGroup" message="tns:IServiceOperation_AddGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/AddGroupResponse" message="tns:IServiceOperation_AddGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/EditGroup" message="tns:IServiceOperation_EditGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/EditGroupResponse" message="tns:IServiceOperation_EditGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/DeleteGroup" message="tns:IServiceOperation_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/DeleteGroupResponse" message="tns:IServiceOperation_DeleteGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetGroupList" message="tns:IServiceOperation_GetGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetGroupListResponse" message="tns:IServiceOperation_GetGroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddKEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/AddKEquipment" message="tns:IServiceOperation_AddKEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/AddKEquipmentResponse" message="tns:IServiceOperation_AddKEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditKEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/EditKEquipment" message="tns:IServiceOperation_EditKEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/EditKEquipmentResponse" message="tns:IServiceOperation_EditKEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/DeleteKEquipment" message="tns:IServiceOperation_DeleteKEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/DeleteKEquipmentResponse" message="tns:IServiceOperation_DeleteKEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKEquipmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetKEquipmentList" message="tns:IServiceOperation_GetKEquipmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetKEquipmentListResponse" message="tns:IServiceOperation_GetKEquipmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/AddEquipment" message="tns:IServiceOperation_AddEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/AddEquipmentResponse" message="tns:IServiceOperation_AddEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/EditEquipment" message="tns:IServiceOperation_EditEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/EditEquipmentResponse" message="tns:IServiceOperation_EditEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/DeleteEquipment" message="tns:IServiceOperation_DeleteEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/DeleteEquipmentResponse" message="tns:IServiceOperation_DeleteEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetEquipmentList" message="tns:IServiceOperation_GetEquipmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetEquipmentListResponse" message="tns:IServiceOperation_GetEquipmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/AddMovement" message="tns:IServiceOperation_AddMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/AddMovementResponse" message="tns:IServiceOperation_AddMovement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/EditMovement" message="tns:IServiceOperation_EditMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/EditMovementResponse" message="tns:IServiceOperation_EditMovement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/DeleteMovement" message="tns:IServiceOperation_DeleteMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/DeleteMovementResponse" message="tns:IServiceOperation_DeleteMovement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovementList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetMovementList" message="tns:IServiceOperation_GetMovementList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetMovementListResponse" message="tns:IServiceOperation_GetMovementList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovementListByEquipmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetMovementListByEquipmentId" message="tns:IServiceOperation_GetMovementListByEquipmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetMovementListByEquipmentIdResponse" message="tns:IServiceOperation_GetMovementListByEquipmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovementListByTimeAndUnitId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetMovementListByTimeAndUnitId" message="tns:IServiceOperation_GetMovementListByTimeAndUnitId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetMovementListByTimeAndUnitIdResponse" message="tns:IServiceOperation_GetMovementListByTimeAndUnitId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovement">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetMovement" message="tns:IServiceOperation_GetMovement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetMovementResponse" message="tns:IServiceOperation_GetMovement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/AddUnit" message="tns:IServiceOperation_AddUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/AddUnitResponse" message="tns:IServiceOperation_AddUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/EditUnit" message="tns:IServiceOperation_EditUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/EditUnitResponse" message="tns:IServiceOperation_EditUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/DeleteUnit" message="tns:IServiceOperation_DeleteUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/DeleteUnitResponse" message="tns:IServiceOperation_DeleteUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnitList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetUnitList" message="tns:IServiceOperation_GetUnitList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetUnitListResponse" message="tns:IServiceOperation_GetUnitList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/AddSettings" message="tns:IServiceOperation_AddSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/AddSettingsResponse" message="tns:IServiceOperation_AddSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/EditSettings" message="tns:IServiceOperation_EditSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/EditSettingsResponse" message="tns:IServiceOperation_EditSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/DeleteSettings" message="tns:IServiceOperation_DeleteSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/DeleteSettingsResponse" message="tns:IServiceOperation_DeleteSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetSettings" message="tns:IServiceOperation_GetSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetSettingsResponse" message="tns:IServiceOperation_GetSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDivision">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/AddDivision" message="tns:IServiceOperation_AddDivision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/AddDivisionResponse" message="tns:IServiceOperation_AddDivision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDivision">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/EditDivision" message="tns:IServiceOperation_EditDivision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/EditDivisionResponse" message="tns:IServiceOperation_EditDivision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDivision">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/DeleteDivision" message="tns:IServiceOperation_DeleteDivision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/DeleteDivisionResponse" message="tns:IServiceOperation_DeleteDivision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDivisionList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetDivisionList" message="tns:IServiceOperation_GetDivisionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetDivisionListResponse" message="tns:IServiceOperation_GetDivisionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/AddUser" message="tns:IServiceOperation_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/AddUserResponse" message="tns:IServiceOperation_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/EditUser" message="tns:IServiceOperation_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/EditUserResponse" message="tns:IServiceOperation_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/DeleteUser" message="tns:IServiceOperation_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/DeleteUserResponse" message="tns:IServiceOperation_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOperation/GetUserList" message="tns:IServiceOperation_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOperation/GetUserListResponse" message="tns:IServiceOperation_GetUserList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpServiceOperatorEndpoint" type="tns:IServiceOperation">
    <wsp:PolicyReference URI="#TcpServiceOperatorEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/AddGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGroup">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/EditGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/DeleteGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupList">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetGroupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddKEquipment">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/AddKEquipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditKEquipment">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/EditKEquipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKEquipment">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/DeleteKEquipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKEquipmentList">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetKEquipmentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEquipment">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/AddEquipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEquipment">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/EditEquipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEquipment">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/DeleteEquipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEquipmentList">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetEquipmentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMovement">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/AddMovement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMovement">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/EditMovement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovement">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/DeleteMovement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovementList">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetMovementList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovementListByEquipmentId">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetMovementListByEquipmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovementListByTimeAndUnitId">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetMovementListByTimeAndUnitId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovement">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetMovement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUnit">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/AddUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUnit">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/EditUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUnit">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/DeleteUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitList">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetUnitList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSettings">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/AddSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSettings">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/EditSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSettings">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/DeleteSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSettings">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetSettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDivision">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/AddDivision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDivision">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/EditDivision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDivision">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/DeleteDivision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDivisionList">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetDivisionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap12:operation soapAction="http://tempuri.org/IServiceOperation/GetUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOperation">
    <wsdl:port name="TcpServiceOperatorEndpoint" binding="tns:TcpServiceOperatorEndpoint">
      <soap12:address location="net.tcp://localhost:8733/ServiceOperation" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/ServiceOperation</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>