mchs.ble/DAL.WCF/Service References/ServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Init.DAL.Sync" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Init.DAL.Sync.Transfer" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddkEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q1:kEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddkEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditkEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q2:kEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditkEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletekEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q3:kEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletekEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllkEquipment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllkEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetAllkEquipmentResult" nillable="true" type="q4:ArrayOfkEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q5:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q6:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q7:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetAllGroupResult" nillable="true" type="q8:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q9:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q10:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q11:Store" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStore">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllStoreResult" nillable="true" type="q12:ArrayOfStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTrips">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTripsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllTripsResult" nillable="true" type="q13:ArrayOfTrip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTripComplectations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTripComplectationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllTripComplectationsResult" nillable="true" type="q14:ArrayOfTripComplectation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q15:Equipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q16:Equipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q17:Equipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEquipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEquipment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetAllEquipmentResult" nillable="true" type="q18:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplectationByTripId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
        <xs:element minOccurs="0" name="isStart" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplectationByTripIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetComplectationByTripIdResult" nillable="true" type="q19:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q20:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMovements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMovementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetLastMovementsResult" nillable="true" type="q21:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q22:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q23:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetAllMovementResult" nillable="true" type="q24:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByTripId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByTripIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetMovementListByTripIdResult" nillable="true" type="q25:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByEquipmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="equipmentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByEquipmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetMovementListByEquipmentIdResult" nillable="true" type="q26:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByTimeAndUnitId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="maxTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="unitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementListByTimeAndUnitIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetMovementListByTimeAndUnitIdResult" nillable="true" type="q27:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetMovementResult" nillable="true" type="q28:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGeoPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q29:GeoPoints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGeoPointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGeoPoints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGeoPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllGeoPointsResult" nillable="true" type="q30:ArrayOfGeoPoints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoPointListByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="minTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="maxTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoPointListByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetGeoPointListByTimeResult" nillable="true" type="q31:ArrayOfGeoPoints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoPointListByTripId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
        <xs:element minOccurs="0" name="idFrom" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoPointListByTripIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetGeoPointListByTripIdResult" nillable="true" type="q32:ArrayOfGeoPoints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q33:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q34:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q35:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllTagsResult" nillable="true" type="q36:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddkObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q37:kObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddkObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditkObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q38:kObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditkObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletekObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q39:kObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletekObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllkObject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllkObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllkObjectResult" nillable="true" type="q40:ArrayOfkObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q41:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q42:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q43:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllUnitResult" nillable="true" type="q44:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetСomplectationListByUnitId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetСomplectationListByUnitIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DAL.SQL.DataObjects" minOccurs="0" name="GetСomplectationListByUnitIdResult" nillable="true" type="q45:ArrayOfEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetLastTripResult" nillable="true" type="q46:Trip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUniqEquipmentObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q47:UniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUniqEquipmentObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUniqEquipmentObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q48:UniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUniqEquipmentObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUniqEquipmentObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q49:UniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUniqEquipmentObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUniqEquipmentObject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUniqEquipmentObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllUniqEquipmentObjectResult" nillable="true" type="q50:ArrayOfUniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniqEquipmentObjectListByUnitId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniqEquipmentObjectListByUnitIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetUniqEquipmentObjectListByUnitIdResult" nillable="true" type="q51:ArrayOfUniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNonUniqEquipmentObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q52:NonUniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNonUniqEquipmentObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNonUniqEquipmentObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q53:NonUniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditNonUniqEquipmentObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNonUniqEquipmentObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="item" nillable="true" type="q54:NonUniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNonUniqEquipmentObjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNonUniqEquipmentObject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNonUniqEquipmentObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetAllNonUniqEquipmentObjectResult" nillable="true" type="q55:ArrayOfNonUniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonUniqEquipmentListObjectByUnitId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonUniqEquipmentListObjectByUnitIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Server.Dal.SQL.DataObjects" minOccurs="0" name="GetNonUniqEquipmentListObjectByUnitIdResult" nillable="true" type="q56:ArrayOfNonUniqEquipmentObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Count">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Init.DAL.Sync" minOccurs="0" name="item" nillable="true" type="q57:Change" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Init.DAL.Sync" minOccurs="0" name="AddResult" nillable="true" type="q58:Change" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Init.DAL.Sync" minOccurs="0" name="item" nillable="true" type="q59:Change" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Init.DAL.Sync" minOccurs="0" name="EditResult" nillable="true" type="q60:Change" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWhere">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Init.DAL.Sync" minOccurs="0" name="item" nillable="true" type="q61:Change" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWhereResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsWhere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keys" nillable="true" type="q62:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsWhereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Init.DAL.Sync" minOccurs="0" name="GetItemsWhereResult" nillable="true" type="q63:ArrayOfChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Init.DAL.Sync.Transfer" minOccurs="0" name="ident" nillable="true" type="q64:TransferPartIdent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Init.DAL.Sync.Transfer" minOccurs="0" name="TransferItemsResult" nillable="true" type="q65:TransferPart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Init.DAL.Sync" minOccurs="0" name="GetPageResult" nillable="true" type="q66:ArrayOfChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>